@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uoyf8j');
  src:  url('fonts/icomoon.eot?uoyf8j#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uoyf8j') format('truetype'),
    url('fonts/icomoon.woff?uoyf8j') format('woff'),
    url('fonts/icomoon.svg?uoyf8j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dw:before {
  content: "\e919";
}
.icon-num-add:before {
  content: "\e904";
}
.icon-num-red:before {
  content: "\e916";
}
.icon-xsb:before {
  content: "\e915";
}
.icon-xxb:before {
  content: "\e910";
}
.icon-shdz:before {
  content: "\e900";
}
.icon-dbl_sy_h:before {
  content: "\e901";
  color: #666;
}
.icon-dh:before {
  content: "\e902";
}
.icon-gb:before {
  content: "\e903";
}
.icon-kf:before {
  content: "\e905";
}
.icon-tjtt:before {
  content: "\e906";
}
.icon-sc:before {
  content: "\e907";
}
.icon-sc_h:before {
  content: "\e908";
}
.icon-collect:before {
  content: "\e909";
}
.icon-spxq_pl_lx:before {
  content: "\e90a";
}
.icon-spxq_xzgb:before {
  content: "\e90b";
}
.icon-ss:before {
  content: "\e90c";
}
.icon-tj:before {
  content: "\e90d";
}
.icon-tx_mxz:before {
  content: "\e90e";
}
.icon-tx_xz:before {
  content: "\e90f";
}
.icon-gfkf:before {
  content: "\e911";
}
.icon-shdz_bj:before {
  content: "\e912";
}
.icon-shdz_sc:before {
  content: "\e913";
}
.icon-shdz_xz:before {
  content: "\e914";
}
.icon-wdsc:before {
  content: "\e917";
}
.icon-xyb:before {
  content: "\e918";
}
